<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.2.1" targetFramework="net452" />
  <package id="PostSharp" version="4.2.26" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
</packages>